In [580]:
!pip install pandas

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in e:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [581]:
import pandas as pd

In [582]:
data=[1,2,3,4,5,6]

In [583]:
s=pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [584]:
df=pd.DataFrame(s,columns=['num'])
df

   num
0    1
1    2
2    3
3    4
4    5
5    6

In [585]:
s2=df['num']

In [586]:
s2

0    1
1    2
2    3
3    4
4    5
5    6
Name: num, dtype: int64

In [587]:
data1=[[1,2],[3,4],[5,6]]

In [588]:
df1=pd.DataFrame(data1,columns=['num1','num2'])

In [589]:
print(df1)

   num1  num2
0     1     2
1     3     4
2     5     6

In [590]:
s3=df1[['num1','num2']]
print(s3)

   num1  num2
0     1     2
1     3     4
2     5     6

## Dictionary to series and data frame

In [592]:
import pandas as pd

In [593]:
data={
    'name':['ras','zannat','rishan'],
    'age':[25,24,23],
    'city':['erl','nur','mun']
}

In [594]:
name_series=pd.Series(data['name'],name='Name')
name_series

0       ras
1    zannat
2    rishan
Name: Name, dtype: object

In [595]:
df=pd.DataFrame(data)

In [596]:
df

     name  age city
0     ras   25  erl
1  zannat   24  nur
2  rishan   23  mun

In [597]:
age_series=df['age']

In [598]:
age_series

0    25
1    24
2    23
Name: age, dtype: int64

## set to series and data frame

In [600]:
s1={1,2,3,4,5,8}

In [601]:
s=pd.Series(list(s1))

In [602]:
s

0    1
1    2
2    3
3    4
4    5
5    8
dtype: int64

In [603]:
df=pd.DataFrame(s1,columns=['set_value'])

In [604]:
df

   set_value
0          1
1          2
2          3
3          4
4          5
5          8

## tuple to series and data frame

In [606]:
t=(1,2,3,4,5)

In [607]:
s=pd.Series(t)

In [608]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [609]:
df=pd.DataFrame(s)

In [610]:
df

   0
0  1
1  2
2  3
3  4
4  5

## numeric datatype in pandas

In [612]:
import pandas as pd

In [613]:
data={'age':[25,40,65],
      'salary':[50000,650000,566777]
     }
df=pd.DataFrame(data)
df

   age  salary
0   25   50000
1   40  650000
2   65  566777

In [614]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     3 non-null      int64
 1   salary  3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes

In [615]:
df.dtypes

age       int64
salary    int64
dtype: object

In [616]:
df['age']=df['age'].astype('int32')
df['salary']=df['salary'].astype('int32')
df

   age  salary
0   25   50000
1   40  650000
2   65  566777

In [617]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     3 non-null      int32
 1   salary  3 non-null      int32
dtypes: int32(2)
memory usage: 156.0 bytes

## object ,datetime datatype

In [619]:
import pandas as pd

In [620]:
data={
    'name':['ras','zannat','rishan'],
    'age':[25,24,23],
    'city':['erl','nur','mun']
}

In [621]:
df=pd.DataFrame(data)
print(df.dtypes)

name    object
age      int64
city    object
dtype: object

In [622]:
dates=['2028-10-04','2024-11-15']
df1=pd.DataFrame({'dae':dates})
df1['dae'].dtype

dtype('O')

In [623]:
timestamps=pd.to_datetime(dates)
df2=pd.DataFrame({'date2':timestamps})
df2

       date2
0 2028-10-04
1 2024-11-15

In [624]:
dates=['2028','2024']
df1=pd.DataFrame({'dae':dates})
timestamps=pd.to_datetime(dates)
df2=pd.DataFrame({'date2':timestamps})
df1['dae'].dtype

dtype('O')

In [625]:
df2

       date2
0 2028-01-01
1 2024-01-01

In [626]:
times=pd.to_datetime(dates)
series=pd.Series(times,name='date')
series

0   2028-01-01
1   2024-01-01
Name: date, dtype: datetime64[ns]

## reading data from csv/excel

In [628]:
import pandas as pd
df=pd.read_excel(r"C:\Users\HP\Downloads\New Microsoft Excel Worksheet.xlsx")

In [629]:
df

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  33  66
0         NaN         NaN         NaN         NaN  33  78
1         NaN         NaN         NaN         NaN  55  66
2         NaN         NaN         NaN         NaN  66  66

## Reading data set from github using request

In [631]:
import pandas as pd
import requests
from io import StringIO

In [632]:
url="https://github.com/Jobayer08/PYTHON/raw/main/demo1.txt"
response=requests.get(url)

In [633]:
csv_content=StringIO(response.text)

In [634]:
df=pd.read_csv(csv_content)
df.head()

   wantnt to learn
0  i want to learn

## Reading dataset from github using web get

In [636]:
!pip install wget

Requirement already satisfied: wget in e:\anaconda\lib\site-packages (3.2)

In [637]:
import wget

In [638]:

url="https://raw.githubusercontent.com/Jobayer08/PYTHON/refs/heads/main/demo1.txt"
file_path=wget.download(url)

100% [....................................................................................] 31 / 31

In [639]:
lf=pd.read_csv(file_path)

In [640]:
lf.head()

   wantnt to learn
0  i want to learn

## Reading dataset from github using direct raw data url

In [642]:
url="https://raw.githubusercontent.com/Jobayer08/PYTHON/refs/heads/main/demo1.txt"
df=pd.read_csv(url)
df.head()

   wantnt to learn
0  i want to learn

In [643]:
df.shape

(1, 1)

In [644]:
!pip install gspread

Requirement already satisfied: gspread in e:\anaconda\lib\site-packages (6.2.0)
Requirement already satisfied: google-auth>=1.12.0 in e:\anaconda\lib\site-packages (from gspread) (2.38.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in e:\anaconda\lib\site-packages (from gspread) (1.2.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in e:\anaconda\lib\site-packages (from google-auth>=1.12.0->gspread) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in e:\anaconda\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in e:\anaconda\lib\site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in e:\anaconda\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in e:\anaconda\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in e:\anaconda\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in e:\anaconda\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\anaconda\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\anaconda\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2024.12.14)

In [645]:
import pandas as pd
import gspread

In [646]:
gc=gspread.service_account(filename="C:\\Users\\HP\\Downloads\\meta-buckeye-453019-n9-6b77afdeead8.json")

In [647]:
gc

In [648]:
sheet=gc.open_by_url("https://docs.google.com/spreadsheets/d/1Lvu7NYlpfj17FsxY-0AP3UKJvTxvMqxAqsOHSZort5g/edit?usp=sharing")

In [649]:
sheet

In [650]:
for ws in sheet.worksheets():
    print(ws.title)

Form responses 1

In [651]:
ws=sheet.worksheet('Form responses 1')

In [652]:
df=pd.DataFrame(ws.get_all_records())

In [653]:
df

,Timestamp,Team Name :,Youtube Link
0,29/11/2024 13:51:59,THE_CHIEFS,https://youtu.be/7ZD6NRdB-To
1,29/11/2024 14:17:29,PSTU_RECURSION,https://forms.gle/5PfyhquoFgCEidF39
2,29/11/2024 14:48:16,inflation vanguard,https://youtu.be/lW8ulYdUoUY?si=FpELaptk_ZbdWPAm
3,29/11/2024 14:52:58,PSTU_Eco_Innovators,https://youtu.be/qo4tMoC0_8A
4,29/11/2024 14:57:56,Teen Titans,https://youtu.be/sLJItlmUt14?si=wERxCtMtAFnOCKwe
5,29/11/2024 14:58:17,BeeHive,https://youtu.be/m1CRpnnr-3k?si=SZPKMTiiz3Cf6nRR
6,29/11/2024 14:58:17,Green Challengers,https://youtu.be/QDC0q8DFE8U
7,29/11/2024 15:00:49,Revive Rangers,https://youtu.be/LecKjLw1w2I
8,29/11/2024 15:01:24,Mostly_surviving,https://youtu.be/eMFK5OZh0nc
9,29/11/2024 15:11:06,Noobies,https://youtu.be/T90Gyf59FBk
10,29/11/2024 15:12:15,Team_SSPTR,https://youtu.be/SVu0hyxUvfE
11,29/11/2024 15:12:55,Aspirant,https://youtu.be/T7e-6BrGZ5s
12,29/11/2024 15:29:18,UGV_Squad (Re),https://youtu.be/194OAhS337o
13,29/11/2024 15:40:22,M square,https://youtu.be/HLL-NnJAopQ?feature=shared
14,29/11/2024 15:44:44,Binary Brains,https://youtu.be/zgaEBDxgz4E
15,29/11/2024 15:47:13,PSTU LifeLine Pioneers,https://youtu.be/IMSkg6A7Zfg
16,29/11/2024 16:11:40,Binary Brains,https://youtu.be/nXeCb-HQ3uQ

In [654]:
df.shape

(17, 3)

In [655]:
df.head()

,Timestamp,Team Name :,Youtube Link
0,29/11/2024 13:51:59,THE_CHIEFS,https://youtu.be/7ZD6NRdB-To
1,29/11/2024 14:17:29,PSTU_RECURSION,https://forms.gle/5PfyhquoFgCEidF39
2,29/11/2024 14:48:16,inflation vanguard,https://youtu.be/lW8ulYdUoUY?si=FpELaptk_ZbdWPAm
3,29/11/2024 14:52:58,PSTU_Eco_Innovators,https://youtu.be/qo4tMoC0_8A
4,29/11/2024 14:57:56,Teen Titans,https://youtu.be/sLJItlmUt14?si=wERxCtMtAFnOCKwe

In [656]:
df.head(2)

             Timestamp    Team Name :                          Youtube Link
0  29/11/2024 13:51:59      THE_CHIEFS         https://youtu.be/7ZD6NRdB-To
1  29/11/2024 14:17:29  PSTU_RECURSION  https://forms.gle/5PfyhquoFgCEidF39

In [657]:
df.tail()

,Timestamp,Team Name :,Youtube Link
12,29/11/2024 15:29:18,UGV_Squad (Re),https://youtu.be/194OAhS337o
13,29/11/2024 15:40:22,M square,https://youtu.be/HLL-NnJAopQ?feature=shared
14,29/11/2024 15:44:44,Binary Brains,https://youtu.be/zgaEBDxgz4E
15,29/11/2024 15:47:13,PSTU LifeLine Pioneers,https://youtu.be/IMSkg6A7Zfg
16,29/11/2024 16:11:40,Binary Brains,https://youtu.be/nXeCb-HQ3uQ

In [658]:
df.tail(2)

              Timestamp            Team Name :                   Youtube Link
15  29/11/2024 15:47:13  PSTU LifeLine Pioneers  https://youtu.be/IMSkg6A7Zfg
16  29/11/2024 16:11:40           Binary Brains  https://youtu.be/nXeCb-HQ3uQ

In [659]:
df[3:5]

,Timestamp,Team Name :,Youtube Link
3,29/11/2024 14:52:58,PSTU_Eco_Innovators,https://youtu.be/qo4tMoC0_8A
4,29/11/2024 14:57:56,Teen Titans,https://youtu.be/sLJItlmUt14?si=wERxCtMtAFnOCKwe

In [660]:
df.Timestamp

0     29/11/2024 13:51:59
1     29/11/2024 14:17:29
2     29/11/2024 14:48:16
3     29/11/2024 14:52:58
4     29/11/2024 14:57:56
5     29/11/2024 14:58:17
6     29/11/2024 14:58:17
7     29/11/2024 15:00:49
8     29/11/2024 15:01:24
9     29/11/2024 15:11:06
10    29/11/2024 15:12:15
11    29/11/2024 15:12:55
12    29/11/2024 15:29:18
13    29/11/2024 15:40:22
14    29/11/2024 15:44:44
15    29/11/2024 15:47:13
16    29/11/2024 16:11:40
Name: Timestamp, dtype: object

In [661]:
df['Team Name :']

KeyError: 'Team Name :'

In [ ]:
print(df.columns)

In [ ]:
df['Team Name : ']

In [ ]:
df.Team Name :

In [ ]:
df[['Team Name : ','Youtube Link']].head()

In [ ]:
url='https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/refs/heads/main/Datasets/Screen%20Time%20Data.csv'
df=pd.read_csv(url)
df.head()

In [ ]:
df.index

In [ ]:
len(df)

In [ ]:
df.columns

In [ ]:
df['Total Screen Time '].max()

In [ ]:
df['Total Screen Time '].min()

In [ ]:

df['Total Screen Time '].mean()

In [ ]:
df['Total Screen Time '].std()

In [ ]:
df['wantnt to learn'].mode()

In [ ]:
df['Total Screen Time '].value_counts()

In [ ]:
df['Total Screen Time '].quantile(.25)

In [ ]:
df.describe()

## Value Sorting

In [ ]:
df.head()

In [ ]:
df['Social Networking'].sort_values()

In [ ]:
df['Social Networking'].sort_values(ascending=False)

In [ ]:
df.nlargest(10,'Social Networking')

In [ ]:
df.nsmallest(10,'Social Networking')

## Conditional Statements

In [ ]:
df['Social Networking'].max()

In [ ]:
df['Social Networking']>70

In [ ]:
df[df['Social Networking']>70]

In [ ]:
df[df['Week Day']=='Wednesday']

In [ ]:
df[(df['Week Day']=='Wednesday')|(df['Week Day']=='Sunday')]

In [ ]:
df[(df['Week Day']=='Wednesday')&(df['Week Day']=='Sunday')]

In [ ]:
df[df['Week Day'].isin(['Wednesday','Sunday'])]

## common Q&A

In [ ]:
df[(df['Week Day']=='Wednesday')&(df['Entertainment']==0)]

In [ ]:
df['index'][df['Productivity']>15]

In [ ]:
df[df['Productivity']==df['Productivity'].min()]

In [ ]:
df[['index','Week Day','Social Networking']][df['Productivity']>15]

In [ ]:
df.head()

In [ ]:
df.loc[0]

In [ ]:
df.loc[0:3]

In [ ]:
df.iloc[0:3]

In [ ]:
data={
    'name':['ras','zannat','rishan'],
    'age':[25,24,23],
    'city':['erl','nur','mun']
}
df2=pd.DataFrame(data)
df2.head()

In [ ]:
df2.set_index('city',inplace=True)

In [ ]:
df2

In [ ]:
df2.loc[0]

In [ ]:
df2.loc['erl']

In [ ]:
df2.iloc[0]

## delete columns

In [ ]:
del df['index']

In [ ]:
df.head()

In [ ]:
df.pop('Date').head()

In [ ]:
df.head()

In [ ]:
df=df.loc[[1,2,3,4],['Total Screen Time ','Social Networking']]
df.head()

In [ ]:
df=df.iloc[[1,2,3],[0,1]]
df.head()

In [ ]:
url='https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/refs/heads/main/Datasets/Screen%20Time%20Data.csv'
df=pd.read_csv(url)
df.head()

In [ ]:
df.drop('index',axis=1)

In [ ]:
df.head()

## Drop the Rows in pandas

In [ ]:
df.drop([0,1]).head()

## Rename & Concate DataFrame

In [ ]:
df1=pd.DataFrame({'Age':[16,20],'Income':[3000,4000]})
df2=pd.DataFrame({'Age':[26,90],'Income':[9000,7000]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1=df1.rename(columns={'Age':'age','Income':'income'})
df2=df2.rename(columns={'Age':'age','Income':'income'})

In [ ]:
df1

In [ ]:
result=pd.concat([df1,df2])
result

In [ ]:
result=pd.concat([df1,df2],axis=1)
result

## Module

In [ ]:
import numpy as np

In [ ]:
data =np.random.rand(10,3)
for col in range(data.shape[1]):
    null_indices=np.random.choice(10,3,replace=False)
    data[null_indices,col]=np.nan
df=pd.DataFrame(data,columns=['columns_1','columns_2','columns_3'])

In [ ]:
df

In [ ]:
df.head()

In [ ]:
pd.isna(df['columns_1'])

In [ ]:
pd.notna(df['columns_1'])

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

## Handling NaN Values

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
df.fillna(0)

In [ ]:
df1=df.copy()

In [ ]:
df1.fillna(0,inplace=True)

In [ ]:
df1.isnull().sum()

In [ ]:
df

In [ ]:
df.fillna({'columns_1':0,
           'columns_2':1,
           'columns_3':2})

In [ ]:
df.dropna(how='any')

In [ ]:
df.dropna(how='all')

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.dropna(thresh=3)

## Filling NaN values with central tendency

In [ ]:
df.fillna(df.mean())

In [ ]:
df.fillna(df.median())

In [ ]:
df.columns_1.mode().iloc[0]

In [ ]:
from ydata_profiling import ProfileReport

In [ ]:
!pip install ydata-profiling

In [ ]:
from ydata_profiling import ProfileReport